.slide1{
  .img0{
    position: absolute;
    top: 0;
  }
  .btn0{
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
  }
  .btn1{
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
  }
}